/* Dolpy color style system */
:root {
    --primary-5: #F3F8FE;
    --primary-10: #D7E6FD;
    --primary-30: #88B3F8;
    --primary-50: #3980F3;
    --primary-70: #0055DE;
    --primary-90: #1D407A;
   
    --neutral-10: #EDEDED;
    --neutral-30: #A3A3A5;
    --neutral-50: #858487;
    --neutral-70: #333237;
    --neutral-90: #1D1D1D;
    
    --success-5: #DCF6DB;
    --success-10: #B9EDB8;
    --success-30: #84E082;
    --success-50: #4FD34D;
    --success-70: #379436;
    --success-90: #286A27;
   
    --warning-10: #FFDC99;
    --warning-30: #FFC24D;
    --warning-50: #FFA800;
    --warning-70: #CC8600;
    --warning-90: #B37600;
    
    --Error-10: #F1A8A8;
    --Error-30: #E45151;
    --Error-50: #DD2525;
    --Error-70: #B11E1E;
    --Error-90: #851616;
   }
   
.text-primary-5{color: var(--primary-5)}
.text-primary-10{color: var(--primary-10)}
.text-primary-30{color: var(--primary-30)}
.text-primary-50{color: var(--primary-50)}
.text-primary-70{color: var(--primary-70)}
.text-primary-90{color: var(--primary-90)}

.text-neutral-10 {color: var(--neutral-10)}
.text-neutral-30 {color: var(--neutral-30)}
.text-neutral-50 {color: var(--neutral-50)}
.text-neutral-70 {color: var(--neutral-70)}
.text-neutral-90 {color: var(--neutral-90)}

.text-success-5 {color: var(--success-5)}
.text-success-10 {color: var(--success-10)}
.text-success-30 {color: var(--success-30)}
.text-success-50 {color: var(--success-50)}
.text-success-70 {color: var(--success-70)}
.text-success-90 {color: var(--success-90)}

.text-warning-10 {color: var(--warning-10)}
.text-warning-30 {color: var(--warning-30)}
.text-warning-50 {color: var(--warning-50)}
.text-warning-70 {color: var(--warning-70)}
.text-warning-90 {color: var(--warning-90)}

.text-Error-10 {color: var(--Error-10)}
.text-Error-30 {color: var(--Error-30)}
.text-Error-50 {color: var(--Error-50)}
.text-Error-70 {color: var(--Error-70)}
.text-Error-90 {color: var(--Error-90)}

.bg-primary-5{background-color: var(--primary-5)}
.bg-primary-10{background-color: var(--primary-10)}
.bg-primary-30{background-color: var(--primary-30)}
.bg-primary-50{background-color: var(--primary-50)}
.bg-primary-70{background-color: var(--primary-70)}
.bg-primary-90{background-color: var(--primary-90)}

.bg-neutral-10 {background-color: var(--neutral-10)}
.bg-neutral-30 {background-color: var(--neutral-30)}
.bg-neutral-50 {background-color: var(--neutral-50)}
.bg-neutral-70 {background-color: var(--neutral-70)}
.bg-neutral-90 {background-color: var(--neutral-90)}

.bg-success-5 {background-color: var(--success-5)}
.bg-success-10 {background-color: var(--success-10)}
.bg-success-30 {background-color: var(--success-30)}
.bg-success-50 {background-color: var(--success-50)}
.bg-success-70 {background-color: var(--success-70)}
.bg-success-90 {background-color: var(--success-90)}

.bg-warning-10 {background-color: var(--warning-10)}
.bg-warning-30 {background-color: var(--warning-30)}
.bg-warning-50 {background-color: var(--warning-50)}
.bg-warning-70 {background-color: var(--warning-70)}
.bg-warning-90 {background-color: var(--warning-90)}

.bg-Error-10 {background-color: var(--Error-10)}
.bg-Error-30 {background-color: var(--Error-30)}
.bg-Error-50 {background-color: var(--Error-50)}
.bg-Error-70 {background-color: var(--Error-70)}
.bg-Error-90 {background-color: var(--Error-90)}

.border-primary-5{border: 1px solid var(--primary-5)}
.border-primary-10{border: 1px solid var(--primary-10)}
.border-primary-30{border: 1px solid var(--primary-30)}
.border-primary-50{border: 1px solid var(--primary-50)}
.border-primary-70{border: 1px solid var(--primary-70)}
.border-primary-90{border: 1px solid var(--primary-90)}

.border-neutral-10 {border: 1px solid var(--neutral-10)}
.border-neutral-30 {border: 1px solid var(--neutral-30)}
.border-neutral-50 {border: 1px solid var(--neutral-50)}
.border-neutral-70 {border: 1px solid var(--neutral-70)}
.border-neutral-90 {border: 1px solid var(--neutral-90)}

.border-success-10 {border: 1px solid var(--success-10)}
.border-success-30 {border: 1px solid var(--success-30)}
.border-success-50 {border: 1px solid var(--success-50)}
.border-success-70 {border: 1px solid var(--success-70)}
.border-success-90 {border: 1px solid var(--success-90)}

.border-warning-10 {border: 1px solid var(--warning-10)}
.border-warning-30 {border: 1px solid var(--warning-30)}
.border-warning-50 {border: 1px solid var(--warning-50)}
.border-warning-70 {border: 1px solid var(--warning-70)}
.border-warning-90 {border: 1px solid var(--warning-90)}

.border-Error-10 {border: 1px solid var(--Error-10)}
.border-Error-30 {border: 1px solid var(--Error-30)}
.border-Error-50 {border: 1px solid var(--Error-50)}
.border-Error-70 {border: 1px solid var(--Error-70)}
.border-Error-90 {border: 1px solid var(--Error-90)}

/* Dolpy Navbar Master css */
.navbar-custom {
    height: 80px;
}

/* .text-primary-50 {
    color: #3980F3
} */

.navbar {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.hover{
    border-radius: 50%;
    background-color: var(--primary-10);
}

.faq_active{
    fill: var(--primary-70) ;
    transform: rotate(330deg);
}

.notif .show #SVGRepo_notif {
    stroke: var(--primary-70) !important;
    transform: rotate(330deg);
}
/* 
.notif_nactive{
    stroke: var(--primary-70) ;
    transform: rotate(330deg);
} */

/* Dolpy Navbar poject css */
a.pnav{
    width:5em
}

.hoverproject{
    border-radius: 10%;
    background-color: var(--primary-10);
}
.navbar-custom {
    height: 80px;
}
.text-primary-50 {color: #3980F3}
.navbar {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.active {
    color: #3980F3 !important;
    fill: #3980F3 !important;
    stroke: #3980F3 !important;
}
.inactive {
    color: #A3A3A5;
    fill: #A3A3A5;
    stroke: #A3A3A5;
}


 /* Dolpy Home css */
.btndolpy{
    width: 12em;
}

.hoverbtn{
    background-color: var(--primary-70) !important;
    transform: translateY(-0.1rem) !important;
    color: var(--neutral-10) !important;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.table-header {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 0px 0px;
}
.project-item {
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: var(--primary-10);
    border-radius: 0px 5px 5px 0px;
}

.hover-5:hover {background-color: var(--primary-5) !important;}

.dotMenuButtonWrapper:hover #dotMenuButton {
    display: block;
}
#dotMenuButton {
    display: none;
}